
<div 
    class="card" style="width: 18rem;" *ngIf="product.title">
    <img [src]="product.imageUrl" class="card-img-top" alt="product.title" *ngIf="product.imageUrl">
    <div class="card-body">
    <h5 class="card-title">{{product.title}}</h5>
    <p class="card-text">{{ product.price | currency: 'NGN'}}</p>
    </div>
    <div *ngIf="showActions && shoppingCart" class="card-footer">
        <button *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity" class="btn btn-secondary btn-block" (click)="addToCart()">Add to Cart</button>

        <ng-template #updateQuantity>
          <app-product-quantity [product]="product" [shopping-cart]="shoppingCart"></app-product-quantity>
        </ng-template>

    </div>
</div>
 