<div class="row">
    <div class="col-md-6">
        <form #f="ngForm" (ngSubmit)="save(f.value)">
            <div class="form-group">
                <label for="title">Title</label>
                <input #title="ngModel" [(ngModel)]="product.title" name="title" id="title" type="text" class="form-control" required>
                <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
                    Title is required.
                </div>
            </div>
            <div class="form-group">
                <label for="price">Price</label> 
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">N</span>
                    </div>
                    <input #price="ngModel" [(ngModel)]="product.price" name="price" id="price" type="number" class="form-control" required>
                </div>
                <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
                   <div *ngIf="price.errors.required">Price is required.</div>
               </div>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select #category="ngModel" [(ngModel)]="product.category" name="category" class="form-control" id="category" required>
                    <option value=""></option>
                    <option *ngFor="let c of categories$ | async" [value]="c.key">
                        {{ c.payload.val().name }}
                    </option>
                </select>
                <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
                     Category is required. 
                </div>
            </div>
            <div class="form-group">
                <label for="imageUrl">Image URL</label>
                <input #imageUrl="ngModel" [(ngModel)]="product.imageUrl" name="imageUrl" id="imageUrl" type="text" class="form-control" required>
                <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
                    Image URL is required.
                </div>
            </div>
        
            <button class="btn btn-primary btn-space">Save</button>
            <button type="button" class="btn btn-danger btn-space" (click)="deleteProduct()">Delete</button>
            
        </form>
    </div>

    <div class="col-md-6">
        <app-product-card [product]="product" [show-actions]="false"></app-product-card>
    </div>
</div>

